.default {
    outline: none;
    text-decoration: none;
    display: inline-block;
    padding: 10px 30px;
    font-size: 16px;
    margin: 5px;
    position: relative;
    color: white;
    border: 1px solid rgba(255, 255, 255, .4);
    border-radius: 5px;
    background: #f0f;
    text-transform: capitalize;
    cursor: pointer;
}

.default:active {
    transform: scale(0.98);
}

.default:hover {
    box-shadow: 0 0 5px 2px #0ff;
}

.red {
    background: red;
}

.default:disabled {
    background: darkslategray;
    color: #aaa;
}

.default:disabled:hover {
    transform: none;
    box-shadow: none;
}